html {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    margin: 0px;
}

div.body {
    display: flex;
    flex-direction: column;
}


/*PARTE INIZIALE*/

div.header-background {
    background-color: #1f2937;
    height: 600px;
}

div.header {
    color: #e5e7eb;
    display: flex;
    flex: 1;
}

h2.header.title {
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
}

div.header ul {
    font-size: 18px;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

div.subsection {
    display: flex;
}

div.title {
    flex: 1;
    margin-right: 48px;
}

div.blank {
    flex-basis: 100px;
}

div.title>h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

div.title>p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border: 0px;
    border-radius: 10px;
    width: 150px;
}

div.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 600px;
    height: 340px;
}

img {
    width: 100%;
}


/*PARTE CENTRALE*/

div.container {
    text-align: center;
    flex: 1;
    height: 600px;
    padding: 30px 80px;
}

p {
    width: 200px;
}

h1.header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

div.content {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882f6;
}

div.main-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


/*PARTE  quote*/

div.container-quote {
    display: flex;
    height: 80vh;
    flex: 1;
    background-color: #e5e7eb;
    justify-content: center;
}

blockquote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    quotes: none;
    display: block;
    text-align: left;
    padding: 80px;
}

div.quote {
    width: 900px;
}

p.quote {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    display: inline;
    margin-left: 50%;
}


/*PARTE  CALL TO ACTION*/

div.call-to-action {
    display: flex;
    padding: 60px;
}

div.sign-up-content {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: #3882f6;
    gap: 94px;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

div.sign-up {
    align-self: center;
}

button.sign-up {
    border-style: solid;
    border-color: #e5e7eb;
    border-width: 4px;
}

h3.sign-up {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

p.sign-up {
    font-size: 18px;
    color: #e5e7eb;
    width: max-content;
}


/*FOOTER*/

footer {
    background-color: #1f2937;
}

div.copy {
    display: flex;
    justify-content: center;
    padding: 50px;
}

p.copyright {
    text-align: center;
    width: max-content;
    margin: 0px;
    font-size: 18px;
    color: #e5e7eb;
}